<template>

    <input type="text" class="form-control" placeholder="Add todo" v-model="title" @keyup.enter="saveTodo(title)">
    
</template>

<script>
export default {
data(){
    return {
        title: ''
    }
},
methods: {
    saveTodo(title){    //save todo si il me donne un title
            this.$emit('add-todo',{id: Date.now().toString(), title: title, completed:false});
            this.title = '';
        }
}
}
</script>

<style>

</style>
