<template>
    <section>
        <h1>Already Done</h1>
          <div>
            <ul class="list-unstyled">
              <li v-for="todo in todos" :key="todo.id">
                  <s>{{todo.title}}</s>
                  <button type="button" class="btn btn-default btn-lg" @click="remove(todo.id)">
                    <i class="fa fa-trash"></i>
                  </button>
              </li>
            </ul>
          </div>
    </section>
</template>

<script>
export default {

    props: {
        todos: Array
    },

    methods: {

    remove(id){
      return this.$emit('remove-todo', {id:id})
    }
    }

}
</script>

<style>

</style>
